<%- layout("/layouts/boilerplate") %>
<style>
  .filters{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
   
 
  
  }
  .filter{
    
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8rem;
  }
</style>


<body>
   
    <div class="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Bed</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>City</p>
      </div>

      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing pools</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
      </div>

      <div class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>

      
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <% for(listings of allListings) { %>
        <a class="listing-link" href="/listings/<%= listings._id %>">
          <div class="card col listings-card">
            <img style="height: 20rem;" src="<%= listings.image %>" class="card-img-top" alt="listing_image">
            <div class="card-img-overlay"><%= listings.title %></div>
            <div class="card-body">
              <p class="card-text"><b>
                  <%= listings.title %>
                </b>
                <br>
                &#8377; <%= listings.price.toLocaleString("en-IN") %> / Night
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>

  </body>