<%- layout("/layouts/boilerplate") %>


<body>
    <h3>All Listings</h3>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(listings of allListings) { %>
        <a class="listing-link" href="/listings/<%= listings._id %>">
          <div class="card col">
            <img style="height: 20rem;" src="<%= listings.image %>" class="card-img-top" alt="listing_image">
            <div class="card-img-overlay">abcd</div>
            <div class="card-body">
              <p class="card-text"><b>
                  <%= listings.title %>
                </b>
                <br>
                &#8377; <%= listings.price.toLocaleString("en-IN") %> / Night
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>

  </body>